node_modules
.env
coverage
coverage.json
typechain

# misc
.idea/
.DS_Store
typechain-types

#Hardhat files
cache
artifacts
!deployments/.gitkeep 

# misc
.idea/
.DS_Store


deployments/local*
deployments/tenderly*
deployments/hardhat
deployments/mumbai*

!deployments/tenderly_polygon_testnet

.env
.env.*
!.env.example
!.env.*.example
